<ion-card [color]="subscription.color">
  <ion-card-content>

    <ion-grid class="ion-no-padding">
      <ion-row class="ion-no-padding">
        <ion-col class="ion-no-padding">
          {{ subscription.name }}
        </ion-col>
        <ion-col class="ion-no-padding" size="auto">
          <b>{{ subscription | costByBillingInterval:selectedBillingInterval | number:'1.2-2' }} {{ currency }} / {{ 'TABS.OVERVIEW.CALENDAR_INTERVALS.'+selectedBillingInterval | translate | titlecase | slice:0:1 }}</b>
        </ion-col>
      </ion-row>
      <ion-row class="ion-no-padding">
        <ion-col class="ion-no-padding">
          <ion-chip size="small" (click)="explainDaysUntilNextBilling($event, subscription)">
            <ion-icon name="card" color="light"></ion-icon>
            <ion-label color="light">{{ subscription | daysUntilNextBilling }} {{ 'TABS.OVERVIEW.CALENDAR_INTERVALS.DAYS' | translate | titlecase | slice:0:1 }}</ion-label>
          </ion-chip>

          <ion-chip size="small" (click)="explainDaysUntilNextCancelationPeriodDeadline($event, subscription)">
            <ion-icon name="warning" color="light"></ion-icon>
            <ion-label color="light">{{ subscription | daysUntilNextCancelationPeriodDeadline }} {{ 'TABS.OVERVIEW.CALENDAR_INTERVALS.DAYS' | translate | titlecase | slice:0:1 }}</ion-label>
          </ion-chip>

          <ion-chip size="small" *ngIf="subscription.notificationBeforeCancelationPeriodInDays">
            <ion-icon name="notifications" color="light" style="margin-inline-end: -4px;"></ion-icon>
            <ion-label color="light"></ion-label>
          </ion-chip>
        </ion-col>
        <ion-col class="ion-no-padding" style="margin: auto;" size="auto">
          <small>{{ subscription.cost | number:'1.2-2' }} {{ currency }} / {{ subscription.billingEvery }} {{ 'TABS.OVERVIEW.CALENDAR_INTERVALS.'+subscription.billingInterval | translate | titlecase | slice:0:1 }}</small>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card-content>
</ion-card>