<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="..">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'TABS.SETTINGS.UI' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="settingsForm">
    <ion-list>
      <ion-item>
        <ion-icon slot="start" name="moon"></ion-icon>
        <ion-label>{{ 'TABS.SETTINGS.THEME_PREFERENCE' | translate }}</ion-label>
        <ion-select cancelText="{{ 'GENERAL.CANCEL' | translate }}" okText="{{ 'GENERAL.OK' | translate }}" formControlName="themePreference">
          <ion-select-option value="system">{{ 'TABS.SETTINGS.THEME_SYSTEM' | translate }}</ion-select-option>
          <ion-select-option value="light">{{ 'TABS.SETTINGS.THEME_LIGHT' | translate }}</ion-select-option>
          <ion-select-option value="dark">{{ 'TABS.SETTINGS.THEME_DARK' | translate }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="calendar"></ion-icon>
        <ion-label position="floating">{{ 'TABS.SETTINGS.NOTIFICATION_BEFORE_CANCELATION_PERIOD_IN_DAYS' | translate }}</ion-label>
        <ion-input type="number" name="notificationBeforeCancelationPeriodInDays" formControlName="notificationBeforeCancelationPeriodInDays"></ion-input>
      </ion-item>

      <ion-item button (click)="showHelpTextsInOverview()">
        <ion-icon slot="start" name="help-buoy"></ion-icon>
        <ion-label>
          <h2>{{ 'TABS.SETTINGS.SHOW_HELP_TEXTS_IN_OVERVIEW' | translate }}</h2>
          <ion-note>{{ 'TABS.SETTINGS.SHOW_HELP_TEXTS_IN_OVERVIEW_HELPER' | translate }}</ion-note>
        </ion-label>
      </ion-item>
    </ion-list>
  </form>


</ion-content>
