<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="..">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'TABS.SETTINGS.ABOUT' | translate }} {{ 'APP.NAME' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text>
    <p>{{ 'APP.SHORT_DESCRIPTION' | translate }}</p>

    <ng-container *ngIf="this.version">
      <h3>{{ 'TABS.SETTINGS.ABOUT_VERSION' | translate }}</h3>
      {{ this.version }}
    </ng-container>

    <h3>{{ 'TABS.SETTINGS.ABOUT_AUTHOR' | translate }}</h3>
    Developed by Richard Meyeringh
    <br>
    Originally developed by Christian Flaßkamp

    <h3>{{ 'TABS.SETTINGS.ABOUT_SOURCECODE' | translate }}</h3>
    <a href="https://github.com/meyeringh/openSubz">https://github.com/meyeringh/openSubz</a>

    <h3>{{ 'TABS.SETTINGS.ABOUT_REPORT_ISSUES' | translate }}</h3>
    <a href="https://github.com/meyeringh/openSubz/issues">https://github.com/meyeringh/openSubz/issues</a>
  </ion-text>
</ion-content>
